.grid {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    height: 300px;
    width: 560px;
    border: 1px solid black;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}